@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import "./variables";

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Abril Fatface", cursive;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $backgroundColor;

  .content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

    h1 {
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 0;
      color: $dark;
    }

    .links {
      position: absolute;
      left: 4rem;
      bottom: 2rem;

      a {
        color: $primary;
        margin-right: 2rem;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  canvas {
    position: fixed;
    left: 0;
    top: 0;
  }
}
